$('#comment-' +<%= @comment.id %>).hide();
<% if @comment.destroyed? %>
   $('#comment-' +<%= @comment.id %>).fadeOut("slow");
      $('.js-comments-count').html("<%= @post.comments.count %> comments");
 <% else %>
   $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 <% end %>
