<h1>All Posts</h1>
<% if policy(Post.new).create? %>
  <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
<% end %>
<% @posts.each do |post| %>

   <p><%= link_to post.title, post %></p>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to post.title, post %>
       </h4>
         <small>
         submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
         <%= post.comments.count %> Comments
         </small>
     </div>
   </div>
<% end %>
<div class="row">
 <div class="col-md-8">
   <h1>Popular</h1>
   <p class="lead">Active posts this week</p>
   <%= render @posts %>
   <%= will_paginate @posts %>
 </div>
 <div class="col-md-4">
 </div>
</div>

